<head>
  <title>LicenseTrack</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "License Tracker",  root_path, :class => "brand" %>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to "Dashboard",  user_index_path %></li>
      <li><%= link_to "Sign In",  new_user_session_path %></li>
      <li><%= link_to "Sign Up",  new_user_registration_path %></li>
      <li><a href="#">Link</a></li>

      <li><a href="#">Settings</a></li>
    </ul>
  </div>
</div>

<section class="hero hero--video" style="background-image: url(https://gathercontent.com/wp-content/uploads/2015/07/normal_1-1000x666.jpg)">
<div class="hero__video-wrapper">
<video autoplay="" class="hero__video" loop="loop" preload="auto" width="400" style="width:100%;">
<source media="only screen and (min-width: 600px)" src="http://i.istockimg.com/video_passthrough/23721092/153/23721092.mp4" type="video/mp4; codecs=avc1.64001E">
<source media="only screen and (min-width: 600px)" src="#" type="video/ogg; codecs=theora">
<source media="only screen and (min-width: 600px)" src="#" type="webm; codecs=vp8">
</video>
</div>
<div class="hero__overlay overlay overlay--primary">
<div class="vcenter">
<div class="vcenter__content">
<div class="container">
<div class="hero__content section section--huge">
<h1 class="homepage-tag">Never Miss a License Renewal Date again!</h1>
<div class="container container--medium container--left">
<p class="homepage-tagline">No more sorting through endless filing cabinents or being frustrated by outdated software.</p>
<a href="#" class="btn btn-primary btn-large">Start my 30-day free trial</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="container">
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
</div>